/* start of General Configuration */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* end of general configur */

/* start header configuration */
header {
    height: 100px;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}

#leveis {
    display: flex;
    width: 550px;
    flex-wrap: wrap;

}

#leveis p {
    width: 550px;
    margin: 5px;
}

#leveis div {
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label {
    background: #fd87be;
    border-radius: 100px;
    color: rgb(245, 243, 243);
    padding: 5px 15px;
}

input[type="radio"]:checked + label{
    background-color: yellow;
    color: black;
}



/* end of header configuration */

main {
    display: flex;
    justify-content: center;
}

#container {
    width: 100vh;
    height: 80vh;
    justify-items: center;
    align-items: center;
}

.card {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
    transition: background-color 0.5s linear;
    transition: opacity 0.5s linear;
}


.card2 {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: blue;
    margin: 10px;
}

.aviso {
    width: 500px;
    height: 500px;
    background-color: blue;
    border-radius: 40px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 150px auto;
}

.aviso p {
    width: 100%;
    font-size: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.okButton {
    width: 100px;
    height: 25px;
    border-radius: 15px;
}